

.valuenex.boolean.exploded {
	font-weight: bold;
	background-color: var(--inverted-nex-background);
	font-style: normal;
	font-size:14px;
	color: var(--inverted-nex-foreground);
}

.valuenex.boolean.exploded.editing {
	background-color: var(--editing-background);
	color: var(--info-text);
}

.boolfont {
	font-family: sans-serif;
	padding-left: 4px;
	padding-right: 4px;
	font-size:16px;
}

