/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/


.codelist.exploded {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	/*border: 3px solid var(--unselected-border);*/
	border-width: 1px 3px 1px 3px;
	border-style: solid;
	border-color: var(--unselected-border);
	border-radius: 6px;	
	padding: 5px 2px 5px 0px;
}

.codelist.exploded.selected {
	border-color: var(--selected-border);
}

.codelist.exploded.newselected {
	border-color: var(--selected-border);
}

.codelist.exploded > .nex.exploded {
	margin: 0px 0px 0px 2px;
}


.codelist.exploded.vdir {
	flex-direction: column;
	border-width: 3px 1px 3px 1px;
	padding: 0px 5px 2px 5px;
}

.codelist.exploded.vdir > .nex.exploded {
	margin: 2px 21px 2px 21px;
}

.codespan {
	display: none;
}

.codespan.exploded {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Courier";
	color: #444444;
	font-style: italic;
	font-size: 15px;
	background-color: var(--unselected-border);
	border: 0px;
	padding: 3px 7px 4px 5px;
	border-radius: 0px 6px 6px 0px;
	margin: 0px 0px 0px 0px;
}

.codespan.exploded.editing {
	font-weight: bold;
	background-color: #ffbfbe
}

.codelist.exploded.vdir > .codespan {
	border-radius: 0px 0px 6px 6px;	
	margin: 0px 0px 2px 0px;
}

.codespan.exploded + .data.exploded {
	margin-left: 5px;
}

.selected > .codespan {
	background-color: var(--selected-border);
}

.newselected > .codespan {
	background-color: var(--selected-border);
}

.innercodespan {
	display: none;
}

.innercodespan.exploded {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: Courier;
	color: #444444;
	font-style: italic;
	font-size: 15px;
	background-color: var(--unselected-border);
	border: 0px;
	padding: 3px 7px 4px 5px;
	border-radius: 0px 0px 6px 6px;	
	margin: -5px 3px 2px 3px;
}

.codelist.exploded.vdir > .innercodespan {
	border-radius: 0px 6px 6px 0px;
	margin: 0px 2px 0px -5px;
}

.innercodespan.exploded.editing {
	font-weight: bold;
	background-color: #ffbfbe
}

.selected > .innercodespan {
	background-color: var(--selected-border);
}

.newselected > .innercodespan {
	background-color: var(--selected-border);
}

@keyframes show-execution-selected-1 {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: var(--selected-border);}
}

@keyframes show-execution-unselected-1 {
	0% {border-color: var(--unselected-border);}
	5% {border-color: yellow;}
	100% {border-color: var(--unselected-border);}
}

@keyframes show-execution-selected-bg-1 {
	0% {background-color: var(--selected-border);}
	5% {background-color: #ffff77;}
	100% {background-color: var(--selected-border);}
}

@keyframes show-execution-unselected-bg-1 {
	0% {background-color: var(--unselected-border);}
	5% {background-color: yellow;}
	100% {background-color: var(--unselected-border);}
}

@keyframes show-execution-selected-2 {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: var(--selected-border);}
}

@keyframes show-execution-unselected-2 {
	0% {border-color: var(--unselected-border);}
	5% {border-color: yellow;}
	100% {border-color: var(--unselected-border);}
}

@keyframes show-execution-selected-bg-2 {
	0% {background-color: var(--selected-border);}
	5% {background-color: #ffff77;}
	100% {background-color: var(--selected-border);}
}

@keyframes show-execution-unselected-bg-2 {
	0% {background-color: var(--unselected-border);}
	5% {background-color: yellow;}
	100% {background-color: var(--unselected-border);}
}

.animating-selected-executable-1 {
	animation-duration: .7s;
	animation-name: show-execution-selected-1;
}

.animating-unselected-executable-1 {
	animation-duration: .7s;
	animation-name: show-execution-unselected-1;
}

.animating-selected-bg-executable-1 {
	animation-duration: .7s;
	animation-name: show-execution-selected-bg-1;
}

.animating-unselected-bg-executable-1 {
	animation-duration: .7s;
	animation-name: show-execution-unselected-bg-1;
}

.animating-selected-executable-2 {
	animation-duration: .70s;
	animation-name: show-execution-selected-2;
}

.animating-unselected-executable-2 {
	animation-duration: .70s;
	animation-name: show-execution-unselected-2;
}

.animating-selected-bg-executable-2 {
	animation-duration: .70s;
	animation-name: show-execution-selected-bg-2;
}

.animating-unselected-bg-executable-2 {
	animation-duration: .70s;
	animation-name: show-execution-unselected-bg-2;
}
