/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/


.command {
	display: contents;
}

.tilde {
	font-size: 1.3em;
	font-weight: bold;
	line-height:.88em;
	position:relative;
	top:-2px;
}

.ghost {
	flex-direction:column;
	align-items: flex-start;
	position: absolute;
	left: 22px;
	top: 48px;
	width: 400px;
	display: flex;
	font-family: Courier;
	color: var(--info-text);
	font-style: italic;
	font-size: 11px;
	background-color: var(--value-background);
	border: 1px solid var(--unselected-border);
	padding: 5px;	
	z-index: 100;
	font-weight: normal;
}

.ghostline {
	position:absolute;
	width: 35px;
	height: 1px;
	background-color: var(--unselected-border);
	transform: rotate(60deg);
	left:-20px;
	top: -16px;
}
