/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.deferredcommand {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.deferredcommand > .dotspan {
	display:none;
}

.deferredcommand.exploded > .dotspan {
	display:inline;
}

.deferredcommand.exploded {
	padding: 5px;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid var(--unselected-border);
}

.deferredcommand.exploded.mutable {
 	padding: 3px;
	border-width: 3px;	
}

.deferredcommand.exploded > .nex.exploded {
	margin: 0px 0px 0px 2px;
}

.deferredcommand.exploded.vdir > .nex.exploded {
	margin: 2px 21px 2px 21px;
}

.deferredcommand.exploded.vdir {
	flex-direction: column;
/*
	padding: 0px 5px 2px 5px;
	border-width: 4px 1px 4px 1px;
*/
}



.deferredcommand.exploded.selected {
	border-color: var(--selected-border);
}

.deferredcommand.exploded.newselected {
	border-color: var(--selected-border);
}

.deferredcommand > .dotspan.exploded {
	border: 1px solid var(--unselected-border);
	margin: 0px 6px 0px 0px;
	display: inline-block;
/*	line-height: .6;*/
	padding: 2px 4px 2px 4px;
	border-radius:6px 6px 6px 6px;
	font-family: "Courier";
	font-style: italic;
	font-size: 12px;
	color: var(--info-text);
	background-color: var(--value-background);
}

.deferredcommand > .dotspan.exploded.editing {
	font-weight: bold;
	background-color: var(--editing-background)	
}


.deferredcommand.exploded.selected > .dotspan {
	border-color: var(--selected-border);
}

.deferredcommand.exploded.newselected > .dotspan {
	border-color: var(--selected-border);
}
