/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/


.eerror {
}

.eerror.exploded {
	border-radius: 6px;	
	font-style: italic;
	font-family: monospace;
	color: #aa0000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left:22px;
}

.eerror.fatal {
	color: #aa0000;
}

.eerror.warning {
	color: #0000aa;
}

.eerror.info {
	color: #00aa00;
}

.eerror.previouslyfatal {
	color: #aa6e00;
}

.eerror > .innerspan {
	margin-bottom: 4px;
}

.eerror.exploded.selected {
	padding-left:22px;
	border: 3px solid var(--selected-border);
}