/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/


.lambda {
	display: contents;
}

.lambdasign {
	font-weight: bold;
}

@keyframes show-execution-selected {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: var(--selected-border);}
}

@keyframes show-execution-unselected {
	0% {border-color: var(--unselected-border);}
	5% {border-color: yellow;}
	100% {border-color: var(--unselected-border);}
}

@keyframes show-execution-selected-bg {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: var(--selected-border);}
}

@keyframes show-execution-unselected-bg {
	0% {background-color: var(--unselected-border);}
	5% {background-color: yellow;}
	100% {background-color: var(--unselected-border);}
}

.animating-selected-lambda {
	animation-duration: .7s;
	animation-name: show-execution-selected;
}

.animating-unselected-lambda {
	animation-duration: .7s;
	animation-name: show-execution-unselected;
}

.animating-selected-bg-lambda {
	animation-duration: .7s;
	animation-name: show-execution-selected-bg;
}

.animating-unselected-bg-lambda {
	animation-duration: .7s;
	animation-name: show-execution-unselected-bg;
}
