/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.line {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	align-items: center;
}

.line.exploded {
	padding: 5px;
	border: 1px solid var(--line-selected);
	border-radius: 6px;	
}

.line.exploded.selected {
	padding: 3px;
	border-width: 3px;
}

.newversionofline.exploded {
	border-color: var(--line-unselected);
}

.newversionofline.exploded.newselected {
	border-color: var(--line-selected);
}

.newversionofline.exploded.mutable {
	padding: 3px;
	border-width: 3px;	
}

.emptyline {
	height:1.12em;	
}

.emptyline.selected {
	background-color: black;
	width:1px;
}


.line.selected.leftinsert {
	animation-duration: 2s;
	animation-name: letterblinkleft;
	animation-iteration-count: 1;
}

.line.selected.rightinsert {
	animation-duration: 2s;
	animation-name: letterblinkright;
	animation-iteration-count: 1;
}

.line.selected.topinsert {
	animation-duration: 2s;
	animation-name: letterblinktop;
	animation-iteration-count: 1;
}

.line.selected.bottominsert {
	animation-duration: 2s;
	animation-name: letterblinkbottom;
	animation-iteration-count: 1;
}

.line.selected.exploded {
	animation-name: none;
}
