/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.line {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	align-items: center;
}

.line.exploded {
	padding: 5px;
	border: 1px solid #a7a7de;
	border-radius: 6px;	
}

.line.exploded.selected {
	padding: 3px;
	border-width: 3px;
}

.emptyline {
	height:1.12em;	
}

.emptyline.selected {
	background-color: black;
	width:1px;
}


@keyframes show-line-execution-selected-1 {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: #a7a7de;}
}

@keyframes show-line-execution-selected-2 {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: #a7a7de;}
}

.animating-selected-line-executable-1 {
	animation-duration: .7s;
	animation-name: show-line-execution-selected-1;
}

.animating-selected-line-executable-2 {
	animation-duration: .70s;
	animation-name: show-line-execution-selected-2;
}


.line.selected.leftinsert {
	animation-duration: 2s;
	animation-name: letterblinkleft;
	animation-iteration-count: 1;
}

.line.selected.rightinsert {
	animation-duration: 2s;
	animation-name: letterblinkright;
	animation-iteration-count: 1;
}

.line.selected.topinsert {
	animation-duration: 2s;
	animation-name: letterblinktop;
	animation-iteration-count: 1;
}

.line.selected.bottominsert {
	animation-duration: 2s;
	animation-name: letterblinkbottom;
	animation-iteration-count: 1;
}

.line.selected.exploded {
	animation-name: none;
}
