/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.newline {
	display: inline-block;
	background-color: black;
	width:0px;
}

.newline.selected {
	animation-name: newlineblink;
	animation-iteration-count: 1;
}

.newline.exploded {
	margin-top: 6px;
	margin-bottom: 6px;
}
.newline.exploded.selected {
	width:1px;
	animation-name: none;
}