/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.org {
	height:auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
}

.org.vdir {
	flex-direction: column;
}

.org.exploded {
	padding: 5px;
	border: 1px solid #c7c7c7;
	border-radius: 6px;	
}

.org.exploded.selected {
	padding: 3px;
	border: 3px solid #a7a7a7;
}

.nativeorg {
	background-color: #c7c7c7;
	font-family: Courier;
	color: #444444;
	font-style: italic;
	font-size: 11px;
}

/*
.line {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	align-items: flex-start;
}

.line.exploded {
	padding: 5px;
	border: 1px solid #a7a7de;
	border-radius: 6px;	
}

.line.exploded.selected {
	padding: 3px;
	border-width: 3px;
}

.emptyline {
	height:1.12em;	
}

.emptyline.selected {
	background-color: black;
	width:1px;
}
*/


