/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/


.separator {
	display: inline-block;
}

.separator.selected.leftinsert {
	animation-duration: 1s;
	animation-name: letterblinkleft;
	animation-iteration-count: 1;
}

.separator.selected.rightinsert {
	animation-duration: 1s;
	animation-name: letterblinkright;
	animation-iteration-count: 1;
}

.separator.newselected.leftinsert {
	animation-duration: 1s;
	animation-name: letterblinkleft;
	animation-iteration-count: 1;
}

.separator.newselected.rightinsert {
	animation-duration: 1s;
	animation-name: letterblinkright;
	animation-iteration-count: 1;
}


.line > .separator.exploded {
	margin-top: 6px;
	margin-bottom: 6px;
}
.separator.exploded.selected {
	animation-name: none;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-right: -1px; /* why did I do this */
}
.separator.exploded.newselected {
	animation-name: none;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-right: -1px; /* why did I do this */
}

.line > .separator.exploded.selected {
	margin-top: 5px;
	margin-bottom: 5px;	
}
.line > .separator.exploded.newselected {
	margin-top: 5px;
	margin-bottom: 5px;	
}


@keyframes newlineblink {
	from {
		width:1px;
	}
	99% {
		width:1px;
	}
	to {
		width:0px;
	}
}