/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.stringinput {
	font-family: Courier, monospace;
	font-size: 12px;
}

.stringta {
	margin-left: 5px;
	border: 1px solid #dddddd;
	padding: 3px;
	border-radius: 2px 2px 2px 2px;
}

.innerspan {
	background-color: white;
	border: 1px solid #dddddd;
	padding: 3px;
	margin-left: 5px;
	font-size: 10px;
	font-family: Arial, sans-serif;
	display: inline-block;
	border-radius: 2px 2px 2px 2px;
}