/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.tag {
	display: none;
}

.tagholder {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.tag.exploded {
	background-color:#6e6e6e;
	color:#dddddd;
	padding: 4px 8px 4px 8px;
	margin: 3px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-family: Courier;
	font-size: 9px;
}

.tag-editing.exploded {
	background-color: #dddddd;
	border: 1px solid #6e6e6e;
	padding: 3px 7px 3px 7px;
	color: #414141;
}

.tag-ghost.exploded {
	background-color: #dddddd;
	border: 1px solid #6e6e6e;
	padding: 3px 7px 3px 7px;
	color: #414141;
}

/*

for "ask tags" (switch colors?)

change tag styles:

padding: 0px 8px 0px 0px;
align-items: center;


.tag.exploded:before {
  content: ' ';
  border-top: 8px solid transparent;
  border-left: 10px solid #e2e21d;
  border-bottom: 8px solid transparent;
  border-right: 4px solid transparent;
}

for "answer" tags:
padding: 0px 0px 0px 8px;
align-items: center;

.tag.exploded:after {
  content: ' ';
  border-top: 8px solid transparent;
  border-right: 10px solid #1de2ca;
  border-bottom: 8px solid transparent;
  border-left: 4px solid transparent;
}


*/