/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.valuenex {
	display: none;
}

.valuenex.exploded {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: Courier;
	color: #444444;
	font-style: italic;
	font-size: 11px;
	background-color: #e8e8e8;
	border: 1px solid var(--unselected-border);
	padding: 5px;
}


.valuenex.exploded.selected {
	padding: 3px;
	border: 3px solid var(--selected-border);
	/*
	border-bottom: 3px solid var(--selected-border);
	border-top: 3px solid var(--selected-border);
	*/
}

.valuenex.exploded.editing {
	background-color: #ffbfbe;
	font-weight: bold;
}

/* TODO: move to symbol.css if it works out 
.esymbol {
	width: min-content;
}
*/
