/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/

:root {
  --selected-border: #ff7777;
  --unselected-border: #aaaaaa;
}

* {
	box-sizing:border-box;
}

body {
	cursor: default;
	margin: 0;
	padding: 0;
}

#mobilecontrolpanel {
	position: fixed;
	width: 100%;
	background-color: #ffffff;
}

#hiddenroot {
	visibility: hidden;
	width:10000px;
	/*
	the hiddenroot is used for width calculations
	but if the width is not 10000 then the contents get wrapped
	*/
}

.data {
}

.nex {
	/*max-width:100%;*/
	position:static;

}

.duplicatednex {
	position:relative;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.objecttag {
	display:none;
}

.render-depth-exceeded {
	border: 2px dashed #660000;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	color: #660000;
	font-size: 30px;
	background-color: #ffdddd;
}

.exploded > .objecttag {
	border: 1px solid #990000;
	background-color: #550000;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-family: Courier;
	font-size: 9px;
	padding: 2px 2px 2px 2px;
	position:absolute;
	left: -5px;
	top: -8px;
	opacity: 0.2;
}

.selected.exploded > .objecttag {
	opacity: 1.0;
	z-index: 100;
}

#intro {
	visibility: hidden;
}

#hotkeyreference {
	visibility: hidden;
}

.infopanel {
	font-family: Courier;
	font-size: 9px;
	border: 2px solid #88003f;
	background-color: #ef99aa;
	padding: 20px;
	margin: 20px;
	visibility: hidden;
	position:absolute;
	z-index: 1000;
}

.infopanel .infotitle {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.infopanel .infoversion {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.infopanel .infoheading {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;	
}


.infopanel .infoline {
	padding: 0;
	margin: 0;
	font-size: 10px;	
}

.alwaysvisible {
	visibility: visible !important;
}

.infopanel .qmark {
	display: inline-block;
	font-size:26px;
	padding: 6px;
	margin: 0;
	font-family: Georgia;
	background-color: #f1dce5;
	border: 1px solid #88003f;
}

.infopanel .infohotkey {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	margin-right: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	border: 1px solid #88003f;	
	background-color: #f1dce5;
}
