/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/

body {
	cursor: default;
	margin: 0;
	padding: 0;
}

.data {
}

.nex {
	max-width:100%;
	position:static;
}

.duplicatednex {
	position:relative;
}

.root {
	display: contents;
}

.objecttag {
	display:none;

}

.exploded > .objecttag {
	border: 1px solid #990000;
	background-color: #550000;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-family: Courier;
	font-size: 9px;
	padding: 2px 2px 2px 2px;
	position:absolute;
	left: -5px;
	top: -8px;
	opacity: 0.2;
}

.selected.exploded > .objecttag {
	opacity: 1.0;
	z-index: 100;
}

