/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.word {
	height:auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
}

.word.exploded {
	padding: 5px;
	border: 1px solid #c7c747;
	border-radius: 6px;	
}

.word.exploded.selected {
	padding: 3px;
	border-width: 3px;
}

.newword.exploded {
	border-color: #e6e6b3;
}

.newword.exploded.newselected {
	border-color: #c7c747;
}

.newword.exploded.mutable {
	padding: 3px;
	border-width: 3px;	
}

/*
.newselected > .wordspan.exploded {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #c7c747;
	height: 20px;
	width: 3px;
	border-radius: 6px 6px 6px 6px;
	margin: 0px 3px 0px -2px;
}

.newselected > .wordspan.exploded.mutable {
	margin: 0px 3px 0px -4px;
}
*/

@keyframes show-word-execution-selected-1 {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: #c7c747;}
}

@keyframes show-word-execution-selected-2 {
	0% {border-color: var(--selected-border);}
	5% {border-color: #ffff77;}
	100% {border-color: #c7c747;}
}

.animating-selected-word-executable-1 {
	animation-duration: .7s;
	animation-name: show-word-execution-selected-1;
}

.animating-selected-word-executable-2 {
	animation-duration: .70s;
	animation-name: show-word-execution-selected-2;
}



.word.selected.leftinsert {
	animation-duration: 2s;
	animation-name: letterblinkleft;
	animation-iteration-count: 1;
}
.word.selected.rightinsert {
	animation-duration: 2s;
	animation-name: letterblinkright;
	animation-iteration-count: 1;
}

.word.selected.topinsert {
	animation-duration: 2s;
	animation-name: letterblinktop;
	animation-iteration-count: 1;
}

.word.selected.bottominsert {
	animation-duration: 2s;
	animation-name: letterblinkbottom;
	animation-iteration-count: 1;
}

.word.selected.exploded {
	animation-name: none;
}


