/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/



.word {
	height:auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
}

.word.exploded {
	padding: 5px;
	border: 1px solid var(--word-selected);
	border-radius: 6px;	
}

.word.exploded.selected {
	padding: 3px;
	border-width: 3px;
}

.newword.exploded {
	border-color: var(--word-unselected);
}

.newword.exploded.newselected {
	border-color: var(--word-selected);
}

.newword.exploded.mutable {
	padding: 3px;
	border-width: 3px;	
}



.word.selected.leftinsert {
	animation-duration: 2s;
	animation-name: letterblinkleft;
	animation-iteration-count: 1;
}
.word.selected.rightinsert {
	animation-duration: 2s;
	animation-name: letterblinkright;
	animation-iteration-count: 1;
}

.word.selected.topinsert {
	animation-duration: 2s;
	animation-name: letterblinktop;
	animation-iteration-count: 1;
}

.word.selected.bottominsert {
	animation-duration: 2s;
	animation-name: letterblinkbottom;
	animation-iteration-count: 1;
}

.word.selected.exploded {
	animation-name: none;
}


.word.newselected.leftinsert {
	animation-duration: 2s;
	animation-name: letterblinkleft;
	animation-iteration-count: 1;
}
.word.newselected.rightinsert {
	animation-duration: 2s;
	animation-name: letterblinkright;
	animation-iteration-count: 1;
}

.word.newselected.topinsert {
	animation-duration: 2s;
	animation-name: letterblinktop;
	animation-iteration-count: 1;
}

.word.newselected.bottominsert {
	animation-duration: 2s;
	animation-name: letterblinkbottom;
	animation-iteration-count: 1;
}

.word.newselected.exploded {
	animation-name: none;
}

