.DS_STORE

node_modules

testing/____tmpfile.txt
server/sounds/other_licenses/
server/sessions/*
server/namedsessions/eeeeaaii
server/docs/*
server/webenv.txt

server/dist/

# transient golden backups written by goldenupdate.sh
testing/alltests/*/goldens/*/*.backup.png
.venv-audio/
tools/soundcatalog/out/embeddings.npz
