<html>
<head>
	<title>test results</title>
<link rel="stylesheet" href="testoutput.css">
<script>
  let commandsToRun = [];

  function checkAll(cb, classtype) {
    let elts = document.getElementsByClassName(classtype);
    for (let i = 0; i < elts.length; i++) {
      elts[i].checked = cb.checked;
    }    
  }

  function doForAllTestsChecked(classname, f) {
    let elts = document.getElementsByClassName(classname);
    for (let i = 0; i < elts.length; i++) {
      let cb = elts[i];
      if (cb.checked) {
        f(cb.dataset['testname']);
      }
    }    
  }

  function makeIgnoreCommand(testname) {
    commandsToRun.push(`./ignoretest.sh ${testname}`);
  }

  function makeUnignoreCommand(testname) {
    commandsToRun.push(`./unignoretest.sh ${testname}`);
  }

  function makeRerunCommand(testname) {
    commandsToRun.push(`./runtests.sh ${testname}`);
  }

  function makeRegenNormalGoldenCommand(testname) {
    commandsToRun.push(`./goldenupdate.sh ${testname} -n`);
  }

  function makeRegenExplodedGoldenCommand(testname) {
    commandsToRun.push(`./goldenupdate.sh ${testname} -e`);
  }

  function printSelectedCommands() {
    commandsToRun = [];

    doForAllTestsChecked('regennormalgoldenfailing', makeRegenNormalGoldenCommand);
    doForAllTestsChecked('regenexplodedgoldenfailing', makeRegenExplodedGoldenCommand);
    doForAllTestsChecked('rerunfailing', makeRerunCommand);
    doForAllTestsChecked('ignorefailing', makeIgnoreCommand);

    doForAllTestsChecked('regennormalgoldenneededgolden', makeRegenNormalGoldenCommand);
    doForAllTestsChecked('regenexplodedgoldenneededgolden', makeRegenExplodedGoldenCommand);
    doForAllTestsChecked('rerunneededgolden', makeRerunCommand);
    doForAllTestsChecked('ignoreneededgolden', makeIgnoreCommand);


    doForAllTestsChecked('regennormalgoldenpassing', makeRegenNormalGoldenCommand);
    doForAllTestsChecked('regenexplodedgoldenpassing', makeRegenExplodedGoldenCommand);
    doForAllTestsChecked('rerunpassing', makeRerunCommand);
    doForAllTestsChecked('ignorepassing', makeIgnoreCommand);

    doForAllTestsChecked('regennormalgoldenignored', makeRegenNormalGoldenCommand);
    doForAllTestsChecked('regenexplodedgoldenignored', makeRegenExplodedGoldenCommand);
    doForAllTestsChecked('unignoreignored', makeUnignoreCommand);

  	let val = '(';

  	for (let i = 0; i < commandsToRun.length; i++) {
      val += commandsToRun[i] + '\n';
  	}
  	val += '\n'
  	val += '\n\necho "REMEMBER TO RUN ALL TESTS BEFORE GIT PUSH"\n)';
    goldenoutput.value = val;
    goldenoutput.style.display = 'block';
  }

  function show(thing, arg) {
    let elt = document.getElementById('DETAILFRAME-' + arg);
    if (elt.style.display == 'block') {
      elt.style.display = 'none';
      thing.innerText = 'show';
    } else {
      elt.style.display = 'block';
      thing.innerText = 'hide';
      if (elt.innerHTML == '') {
        let iframe = document.createElement('iframe');
        iframe.classList.add('detailiframe');
        iframe.src = `alltests/${arg}/${arg}_testresults.html`;
        elt.appendChild(iframe);
      }
    }
    return false;
  }

</script>
</head>
<body>
	<div class="summary">
		<div class="summaryheader">Test Summary</div>
    <div class="summarybody">If a test has multiple variants it may appear in more than one list (example: normal diff succeeds, exploded diff fails)</div>
		<div class="printcommands">
			<button type="button" onclick="printSelectedCommands();">Print Commands</button>
			<textarea id="goldenoutput"></textarea>
		</div>
		<div class="summarylist">
			<div class="summaryname failed">Has Failing Test: {{summary.num_failing}}</div>
        <div class="summarylistitem">
          <span class="cbhint">-n</span>
          <span class="cbhint">-e</span>
          <span class="cbhint">run</span>
          <span class="cbhint">+ig</span>
        </div>
				<div class="summarylistitem">
          <input type="checkbox" onclick="checkAll(this, 'regennormalgoldenfailing')">
          <input type="checkbox" onclick="checkAll(this, 'regenexplodedgoldenfailing')">
          <input type="checkbox" onclick="checkAll(this, 'rerunfailing')">
					<input type="checkbox" onclick="checkAll(this, 'ignorefailing')">
					(select all)
				</div>
				{{#each summary.failing}}
				<div class="summarylistitem"> 
          <input type="checkbox" class="regennormalgoldenfailing" data-testname="{{this.name}}">
          <input type="checkbox" class="regenexplodedgoldenfailing" data-testname="{{this.name}}">
          <input type="checkbox" class="rerunfailing" data-testname="{{this.name}}">
					<input type="checkbox" class="ignorefailing" data-testname="{{this.name}}">
					<a class="listtestname" href="./alltests/{{this.name}}/{{this.name}}_testresults.html">{{this.name}}</a>
          <span class="smalltesttypebadge {{this.type}}type">{{this.type}}</span>
          ({{this.num}} failing)
          (<a href="#" onclick="return show(this, '{{this.name}}')">show</a>)
          <div class="detail" id="DETAILFRAME-{{this.name}}"></div>
				</div>
				{{/each}}
		</div>
    <div class="summarylist">
      <div class="summaryname neededgolden">Has Test that Needed New Goldens: {{summary.num_goldenneeded}}</div>
        <div class="summarylistitem">
          <span class="cbhint">-n</span>
          <span class="cbhint">-e</span>
          <span class="cbhint">run</span>
          <span class="cbhint">+ig</span>
        </div>
        <div class="summarylistitem">
          <input type="checkbox" onclick="checkAll(this, 'regennormalgoldenneededgolden')">
          <input type="checkbox" onclick="checkAll(this, 'regenexplodedgoldenneededgolden')">
          <input type="checkbox" onclick="checkAll(this, 'rerunneededgolden')">
          <input type="checkbox" onclick="checkAll(this, 'ignoreneededgolden')">
          (select all)
        </div>
        {{#each summary.neededgolden}}
        <div class="summarylistitem">
          <input type="checkbox" class="regennormalgoldenneededgolden" data-testname="{{this.name}}">
          <input type="checkbox" class="regenexplodedgoldenneededgolden" data-testname="{{this.name}}">
          <input type="checkbox" class="rerunneededgolden" data-testname="{{this.name}}">
          <input type="checkbox" class="ignoreneededgolden" data-testname="{{this.name}}">
          <a class="listtestname" href="./alltests/{{this.name}}/{{this.name}}_testresults.html">{{this.name}}</a>
          <span class="smalltesttypebadge {{this.type}}type">{{this.type}}</span>
          ({{this.num}} needed golden)
          (<a href="#" onclick="return show(this, '{{this.name}}')">show</a>)
          <div class="detail" id="DETAILFRAME-{{this.name}}"></div>
        </div>
        {{/each}}
    </div>
		<div class="summarylist">
			<div class="summaryname passed">Has Passing Test: {{summary.num_passing}}</div>
        <div class="summarylistitem">
          <span class="cbhint">-n</span>
          <span class="cbhint">-e</span>
          <span class="cbhint">run</span>
          <span class="cbhint">+ig</span>
        </div>
				<div class="summarylistitem">
          <input type="checkbox" onclick="checkAll(this, 'regennormalgoldenpassing')">
          <input type="checkbox" onclick="checkAll(this, 'regenexplodedgoldenpassing')">
          <input type="checkbox" onclick="checkAll(this, 'rerunpassing')">
          <input type="checkbox" onclick="checkAll(this, 'ignorepassing')">
          (select all)
				</div>
				{{#each summary.passing}}
				<div class="summarylistitem">
          <input type="checkbox" class="regennormalgoldenpassing" data-testname="{{this.name}}">
          <input type="checkbox" class="regenexplodedgoldenpassing" data-testname="{{this.name}}">
          <input type="checkbox" class="rerunpassing" data-testname="{{this.name}}">
          <input type="checkbox" onclick="checkAll(this, 'ignorepassing')">
          <a class="listtestname" href="./alltests/{{this.name}}/{{this.name}}_testresults.html">{{this.name}}</a>
          <span class="smalltesttypebadge {{this.type}}type">{{this.type}}</span>
          ({{this.num}} passing)
          (<a href="#" onclick="return show(this, '{{this.name}}')">show</a>)
          <div class="detail" id="DETAILFRAME-{{this.name}}"></div>
				</div>
				{{/each}}
		</div>
		<div class="summarylist">
			<div class="summaryname ignored">Has Ignored Test: {{summary.num_ignored}}</div>
        <div class="summarylistitem">
          <span class="cbhint">-n</span>
          <span class="cbhint">-e</span>
          <span class="cbhint">run</span>
          <span class="cbhint">&#8209;ig</span>
        </div>
        <div class="summarylistitem">
          <input type="checkbox" onclick="checkAll(this, 'regennormalgoldenignored')">
          <input type="checkbox" onclick="checkAll(this, 'regenexplodedgoldenignored')">
          <input type="checkbox" onclick="checkAll(this, 'rerunignored')">
          <input type="checkbox" onclick="checkAll(this, 'unignoreignored')">
          (select all)
        </div>
				{{#each summary.ignored}}
				<div class="summarylistitem">
          <input type="checkbox" class="regennormalgoldenignored" data-testname="{{this.name}}">
          <input type="checkbox" class="regenexplodedgoldenignored" data-testname="{{this.name}}">
          <input type="checkbox" class="rerunignored" data-testname="{{this.name}}">
          <input type="checkbox" class="unignoreignored" data-testname="{{this.name}}">
          <a class="listtestname" href="./alltests/{{this.name}}/{{this.name}}_testresults.html">{{this.name}}</a>
          <span class="smalltesttypebadge {{this.type}}type">{{this.type}}</span>
          ({{this.num}} ignored)
          (<a href="#" onclick="return show(this, '{{this.name}}')">show</a>)
          <div class="detail" id="DETAILFRAME-{{this.name}}"></div>
				</div>
				{{/each}}
		</div>
	</div>
</body>
</html>
