/*
This file is part of Vodka.

Vodka is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Vodka is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Vodka.  If not, see <https://www.gnu.org/licenses/>.
*/

body {
	padding: 0;
	margin: 0;
}

#goldenoutput {
	padding: 14px;
	font-family: Courier;
	font-size: 16px;
}

.goldenoutputtextarea {
	width:800px;
	padding: 5px;
}

.copyclick {
	font-size: 10px;
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;
}

.summary {
	margin-bottom:20px;	
}

.summaryheader {
	font-family: Courier;
	font-size: 28px;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.printcommands {
	font-family: Courier;
	font-size: 16px;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.regencommand {
	width: 400px;
	height: 20px;
	font-size: 9px;
}

.tall {
	height:200px;
}

.summaryname {
	font-family: Courier;
	font-size: 18px;
	padding-left: 10px;	
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 6px;
}

.summarylist {
	padding-bottom:15px;
}

.summarylistitem {
	font-family: Courier;
	font-size: 10px;
	margin-left: 10px;
}

.testout {
	border: 3px solid black;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.testname {
	background-color: #aaaaaa;
	font-family: Courier;
	font-size: 28px;
	margin-left: 0px;
	padding-left: 30px;
	padding-top:15px;
	padding-bottom:15px;
}

.testdescription {
	background-color: #eeeeee;
	font-family: Courier;
	font-size: 14px;
	margin-left: 0px;
	padding-left: 30px;
	padding-top:15px;
	padding-bottom:15px;
}


.commandblock {
	background-color: #cccccc;
	font-family: Courier;
	font-size: 18px;
	margin-left: 0px;
	padding-left: 30px;
	padding-top:5px;
	padding-bottom:5px;	
}

.regengolden {
	font-family: Courier;
	font-size: 10px;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 4px;	
	background-color:#ff8888;
	color: white;
}

.testvariant {
	padding:0;
}

.testvariantname {
	font-family: Courier;
	font-size: 18px;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.failed {
	background-color:red;
	color: white;
}

.passed {
	background-color: green;
	color: white;
}

.ignored {
	background-color: #0b219e;
	color: white;
}

.newgolden {
	background-color: yellow;
	color: black;
}

.testoutputs {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-left:30px;
}

.outimg {
	display: inline-block;
	width:100px;
	height:100px;
	overflow:hidden;
	border: 1px solid black;
	margin-left:5px;
	margin-top:15px;
	margin-bottom:15px;
}

.outimgname {
	background-color: #aaaaaa;
	text-align:center;
	padding-left:12px;
	padding-right:12px;
	padding-top:4px;
	padding-bottom:4px;
	font-family: courier;
	font-size:12px;
	font-style: italic;
}

.outimg img {
	display: inline-block;
}

#copied {
	visibility: hidden;
	position:absolute;
}

.toast {
	background-color: #dddddd;
	color: #333399;
	padding: 4px;
	border: 1px solid #003333;
	font-family: Courier;
	font-size: 12px;	
}

.ifr {
	margin-left: 0px;
	width:99.8%;
}

.outimgexpanded {
	width:auto;
	height:auto;	
}

.codeframe {
	width:100px;
	height:100px;
	overflow:hidden;
	border: 1px solid black;
	margin-left:5px;
	margin-top:15px;
	margin-bottom:15px;
	display:inline-block;
}

.codeframe iframe {
	background-color: white;
}

.codeframeexpanded {
	width:700px;
	height:500px;
}

.codeframeexpanded iframe {
	height:500px;
}

.testtypebadge {
	width: 40px;
	height: 40px;
	border: 3px solid grey;
	display: inline;
	padding: 4px;
	margin-left: 5px;
	font-size: .6em;
}

.vktype {
	background-color: pink;
}

.jstype {
	background-color: lightblue;
}

